*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(243, 164, 183);
}
#question{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}
#stsc{
    font-size: 2rem;
    color: rgb(11, 7, 230);
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}
.quiz-box{
    background: white;
    border-radius: 5px;
    padding: 0 35px;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 10px double rgb(34, 117, 212);
    border-radius: 5px;
    padding: 5%;
}
.scores-box {
    background: white;
    border-radius: 5px;
    padding: 0 35px;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 10px double rgb(34, 117, 212);
    border-radius: 5px;
    padding: 5%;
}
#answers {
    font-size: 1rem;
}
#list-of-students {
    font-size: 1.5rem;
}
.quit {
    color: white;
    font-weight: bolder;
    align-items: center;
    border: 1px double rgb(34, 117, 212);
    background-color: rgb(40, 176, 221);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
}
.quit:hover {
    background:purple;
    color: white;
}
.restart {
    color:white;
    font-weight: bolder;
    align-items: center;
    border: 1px double olivedrab;
    background-color: rgb(98, 184, 98);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
}
.restart:hover {
    background:purple;
    color: white;
}
h1{
    font-size: 3rem;
    font-weight: bolder;
    color:blue;
}
#intro{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 10px double rgb(34, 117, 212);
    border-radius: 5px;
    padding: 5%;
    font-weight: bolder;
    
}
#start-quiz {
    position:absolute;
    color:white;
    font-weight: bolder;
    align-items: center;
    border: 1px double rgb(166, 245, 10);
    background-color: rgb(172, 230, 12);
    border-radius: 5px;
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
    margin-right: 2%;
}
#start-quiz:hover {
    background:purple;
    color: white;
}
.hs {
    align-items: center;
    border: 3px solid rgb(138, 5, 23);
    border-radius: 5px;
    font-size: 1rem;
    padding: 10%;
    cursor:pointer;
    transition: all 0.3s ease;
}
.buttons {
    border: 2px solid transparent;
    cursor:pointer;
    transition: all 0.3s ease;
}
#time {
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
}
#time-left {
    text-align: center;
}
#quiz{
    display: none;
}

#info{
    display: none;
}

#right-or-wrong{
    display: none;
    border: 3px solid rgb(228, 185, 43);
    font-weight: bolder;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
    margin:auto;
}
#next {
    display: none;
    color: white;
    font-weight: bolder;
    align-items: center;
    border: 1px double rgb(34, 117, 212);
    background-color: rgb(40, 176, 221);
    border-radius: 5px;
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
    margin:auto;
}
#name {
    color: white;
    font-weight: bolder;
    align-items: center;
    border: 2px solid white;
    background-color: rgb(228, 185, 43);
    border-radius: 5px;
    font-size: 1rem;
    padding: 1%;
    text-align: center;
    cursor:pointer;
    transition: all 0.3s ease;
    margin:auto;
}
h2{
    font-size: 2rem;
}
h4 {
    /* font-weight: bolder; */
    text-align: center;
}


